<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" type="text/css">
    <title>Plant Care</title>
</head>
<body>
    <nav class="teal darken-2">
        <div class="nav-wrapper">
          <i class="fa fa-envira" style="font-size:24px"></i> 
          <a href="#!" class="brand-logo">Plant Care</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fa fa-envira"></i>menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="{{url_for('home')}}">Home</a></li>
            <li><a href="">New Plant</a></li>
            <li><a href="">Categories</a></li>
            
          </ul>
        </div>
      </nav>
    
      <ul class="sidenav" id="mobile-demo">
        <li><a href="{{url_for('home')}}">Home</a></li>
        <li><a href="">New Plant</a></li>
        <li><a href="">Categories</a></li>
      </ul>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static',filename='js/script.js') }}"></script>
</body>
</html>