body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.card-action{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.collapsible-header.teal.darken-2.white-text * {
  
  display: flex;
  align-items: center;
  padding: 20px;
  
}